

@import url(https://fonts.googleapis.com/css?family=Raleway:300,400,600);
@import  url('https://fonts.googleapis.com/css?family=Raleway:300,400,500');
@import  url('https://fonts.googleapis.com/css?family=Open+Sans:400,700');

html
{
	overflow: hidden;
    height: 100%;
}

body
{
	padding:  0;
	margin:  0;
	background-color:  #EFEFEF;
	font-size:  10px;
	font-size:  1.0rem;
	height: 100%;
    overflow: auto;
	overflow-x: hidden;
	font-family: "Open Sans", sans-serif;

}

.menubar
{
	width:  100px;
	background-color:  #263238;
	height:  100vh;
	position: fixed;
	top:  0;
	left:  0;
	z-index: 99999;
-webkit-box-shadow: 10px -1px 49px -13px rgba(0,0,0,0.75);
-moz-box-shadow: 10px -1px 49px -13px rgba(0,0,0,0.75);
box-shadow: 10px -1px 49px -13px rgba(0,0,0,0.75);
	/*overflow: hidden;*/
}

.menubar__logo
{
	width:  100px;
	height: 60px;
background: #4776E6; /* fallback for old browsers */
background: -webkit-linear-gradient(to left, #4776E6 , #8E54E9); /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to left, #4776E6 , #8E54E9); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
	display: flex;
	align-items: center;
	justify-content: center;
	color:  white;
	font-size: 1.1rem;
	font-weight:  700;
	text-decoration: none;
	position: relative;
	z-index: 9999;
}

.menubar__user
{
	width:  100px;
	height: 100px;
	position: absolute;
	bottom:  0;
	left:  0;
	display: flex;
	align-items: center;
	justify-content: center;
}

.menubar__user__sub
{
	width: 300px;
	height: 100px;
	position: absolute;
	left: 100px;
	bottom: 0;
	background-color: #455A64;
	z-index: 1;
	display: none;
}

.menubar__user__overlay
{
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: black;
	z-index: 0;
	opacity: 0.7;
	display: none;
}

.menubar__user__sub ul
{
	display: block !important;
}

.menubar__user__sub ul li
{
	display: block !important;
	width: 100% !important;
	height: auto !important;
	padding: 15px;
	font-size: 14px;
	box-sizing: border-box;
	color: white;
}

.menubar__user__avatar
{
	background-image: url(../img/default-user-avatar.jpg);
	background-size: cover;
	background-position: center;
	height:  60px;
	width:  60px;
	border-radius: 100%;
}

.menubar ul
{
	list-style: none;
	padding:  0;
	margin:  0;
	display: flex;
	align-items: center;
	width:  100%;
	flex-wrap: wrap;
	height: calc(100vh - 200px);
}

.menubar ul li
{
	height:  100px;
	width:  100px;
	display: flex;
	align-items: center;
	text-align: center;
	transition:  all 0.2s linear;
}

.menubar ul li:hover
{
	background-color: #0A0E0F;
	transition:  all 0.2s linear;
}


.menubar ul li a
{
	width:  100%;
	text-align: center;
}

.menubar ul li a img
{
	width:  70px;
}

.menubar ul li a p
{
	margin:  0;
	color:  white;
	text-transform: uppercase;
	letter-spacing: 1.5px;
	font-size:  0.5rem;
}

.container
{
	width:  calc(100vw - 100px);
	margin-left:  100px;
	height:  auto;
	min-height: 100vh;
	padding-bottom:  100px;
}

.wrapper
{
	width:  80%;
	display: block;
	margin:  0 auto;
}

.view__top
{
	height:  50vh;
	width:  100%;
	margin-bottom:  -20vh;
	background-color:  red;
	position: relative;
	background-image: url(../img/bg.jpg);
	background-size:  cover;
	background-position: center;
	background-repeat: no-repeat;
}

.view__top__overlay
{
	position: absolute;
	top:  0;
	left:  0;
	background-color:  rgba(0,0,0,0.7);
	opacity:  0.7;
	height:  100%;
	width:  100%;
}

.view__top__title
{
	position: absolute;
	bottom:  22vh;
	left:  10%;
	color:  white;
	font-family: "Raleway";
	font-weight: 300;
	font-size:  2.6rem;
	z-index: 999;
}

.view__card
{
	height:  auto;
	width:  100%;
	background-color:  white;
	padding:  40px;
	box-sizing: border-box;
	position: relative;
}

.view__card--graph
{
	display: flex;
}

.view__subtitle
{
	margin-top:  100px;
	margin-bottom: 30px;
	font-size:  2.0rem;
	font-family: "Raleway";
	font-weight: 300;
	color:  #263238;
}


.grid
{
	display: flex;
	width:  100%;
	justify-content: space-around;
}

.col
{
	width:  auto;
}

.expand-bar
{
	width:  100%;
	color:  white;
	background-color:  #263238;
	position: relative;
	margin-bottom:  20px;
	margin-top:  20px;
}

.expand-bar .col-type-name
{
	padding:  20px;
	background-color:  gray;
	width:  10%;
	text-align: center;
	display:  inline-block;
	font-size:  0.9rem;
}

.expand-bar .col-amount
{
	width:  70%;
	height:  100%;
	padding:  20px;
	color:  white;
	position: relative;
	z-index:  999;
	display:  inline-block;
	text-align: center;
	font-size:  0.9rem;
}

.col--center
{
	text-align: center;
}

.col--center h3
{
	margin:  0;
}


.signin
{
	background-image: url(../img/bg.jpg);
	background-size: cover;
	background-position: center;
	position: relative;
	height: 100vh;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}

.signin_overlay
{
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	opacity: 0.7;
background: #4776E6; /* fallback for old browsers */
background: -webkit-linear-gradient(to left, #4776E6 , #8E54E9); /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to left, #4776E6 , #8E54E9); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
        
}

.signin .content
{
	position: relative;
	z-index: 9999;
	width: 80%;
	max-width: 600px;
	padding: 40px;
	text-align: center;
}

.signin__logo
{
	color:  white !important;
	font-size: 1.6rem;
	font-weight:  700;
	margin-bottom: 20px;
}

.signin .textfield
{
	text-align: center;
	margin-bottom: 20px;
}

.textfield
{
	background: transparent;
	border: none;
	border-bottom: 2px solid rgba(255,255,255,0.6);
	width: 100%;
	padding: 20px;
	box-sizing: border-box;
	color: white;
	font-family: "Open Sans";
	font-size: 0.9rem;
	transition: all 0.2s ease-in-out;
}

.textfield:focus
{
	border-bottom: 2px solid rgba(255,255,255,1);
	transition: all 0.2s ease-in-out;
	outline: none;
}

.textfield__feedback
{
	color: #F44336;
	font-size: 0.6rem;
	margin-top: -10px;
	display: block;
}

.button
{
	padding: 17px 50px;
	background: transparent;
	border: 2px solid white;
	color: white;
	text-transform: uppercase;
	letter-spacing: 2px;
	transition: all 0.2s ease-in-out;
	margin-top: 30px;
	text-decoration: none;
}

.button:hover
{
	background-color: white;
	color: gray;
	transition: all 0.2s ease-in-out;
	-webkit-box-shadow: 0px 0px 52px -4px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 0px 52px -4px rgba(0,0,0,0.75);
	box-shadow: 0px 0px 52px -4px rgba(0,0,0,0.75);
}

.signin__lostpw
{
	display: block;
	margin-top: 40px;
	font-size: 0.7rem;
	color: white;
	text-transform: uppercase;
	text-decoration: none;
	letter-spacing: 2px;
}

::-webkit-input-placeholder {
   color: white;
   opacity: 0.7;
   font-family: "Open Sans";
}

:-moz-placeholder { /* Firefox 18- */
   color: white;
   opacity: 0.7;
   font-family: "Open Sans";  
}

::-moz-placeholder {  /* Firefox 19+ */
   color: white;
   opacity: 0.7;
   font-family: "Open Sans";  
}

:-ms-input-placeholder {  
   color: white;
   opacity: 0.7;
   font-family: "Open Sans";  
}

.view__sub
{
	-webkit-box-shadow: 0px 0px 69px -23px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 0px 69px -23px rgba(0,0,0,0.75);
	box-shadow: 0px 0px 69px -23px rgba(0,0,0,0.75);

background: #fc00ff; /* fallback for old browsers */
background: -webkit-linear-gradient(to left, #fc00ff , #00dbde); /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to left, #fc00ff , #00dbde); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
        
	width: 100%;
	padding-top: 80px;
	padding-bottom: 80px;
	color: white;
	position: relative;
}

.view__sub--fixed
{
	padding-top: 12px;
	padding-bottom: 11px;
}

.view__sub--fixed .view__sub__title
{
	font-size: 14px;
}

.view__sub--fixed .view__sub__button
{
	display: none;
}

.view__sub__title
{
	position: relative;
	z-index: 999;
}

.view__sub__button
{
	position: absolute;
	right: 10%;
	top: 50%;
	margin-top: -24px;
	z-index: 9999;
	font-size: 10px;
}

.content
{
	margin-top: 60px;
}

table
{
	width: 100%;
	border-collapse: collapse;
}

tr:nth-child(odd)
{
	background-color: #CFD8DC;
}

tr:nth-child(even)
{
	background-color: #B0BEC5;
}

td
{
	padding: 20px;
}

th
{
	background-color: #37474F;
	color: white;
	text-align: left;
	padding: 20px;
}

.view__sub.blocks
{
background: #FF512F; /* fallback for old browsers */ /* Chrome 10-25, Safari 5.1-6 */
background: -webkit-linear-gradient(right, #FF512F, #DD2476);
background: -o-linear-gradient(right, #FF512F, #DD2476);
background: linear-gradient(to left, #FF512F, #DD2476); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */      
}

.view__sub.silos
{
background: #00c6ff; /* fallback for old browsers */
background: -webkit-linear-gradient(to left, #00c6ff , #0072ff); /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to left, #00c6ff , #0072ff); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.blocks
{
	margin-bottom: 30px;
}

.blocks__type
{
	width: 100%;
	background-color: #546E7A;
	color: white;
	padding: 15px;
	margin-bottom: 20px;
	position: relative;
}

.blocks__button
{
	border-color: #546E7A;
	color: #546E7A;
}

.button--dark
{
		border-color: #546E7A;
	color: #546E7A;
	margin-top: 50px;
	margin-bottom: 50px;
	font-size: 12px;
}

.blocks__add
{
	display: none;
}

.blocks__type__add
{
	position: absolute;
	height: 52px;
	width: 52px;
	background-color: #37474F;
	right: 0;
	top: 0;
	display: flex;
	align-items: center;
	justify-content: center;
	color: white;
	font-size: 16px;
	font-weight: 700;
}

.silos-grid
{
	flex-wrap: wrap;
	justify-content: space-between;
	margin-bottom: 40px;
}

.silos-grid .col, .silo
{
	height: 300px;
	width: 30%;
	margin-bottom: 30px;
	background-color: #455A64;
	display: flex;
	align-items: center;
	text-align: center;
	position: relative;
}

.silo
{
	width: 90% !important;
	margin: 5%;
}

.silos-grid__col__percentage
{
	font-size: 48px;
	color: white;
	font-weight: 700;
	margin: 0;
}

.silos-grid .wrapper, .silo .wrapper
{
	position: relative;
	z-index: 9999;
}

.silos-grid__col__fill
{
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	background-color: #37474F;
}

.silos-grid__col__id
{
	font-size: 14px;
	text-transform: uppercase;
	color: white;
}

.silos-grid__col__alert
{
	position: absolute;
	top: -10px;
	right: -10px;
	width: 30px;
	height: 30px;
	background-color: #F44336;
	font-size: 12px;
	display: flex;
	align-items: center;
	justify-content: center;
	color: white;
	font-weight: 700;
	border-radius: 100%;
	border: 3px solid #D32F2F; 
}

.silos-content h2
{
	margin-top: 150px;
	display: block;
}

.swiper-container {
    width: 100%;
    height: 370px;
}    

@media screen and (max-width: 768px)
{
	.menubar
	{
		height: 60px;
		width: 100vw;
	}

	.menubar ul
	{
		display: none;
	}

	.container
	{
		width: 100vw;
		margin-left: 0;
	}
}